{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pantallas informativa bUCR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/bucr.css' %}">
    <script src="https://kit.fontawesome.com/1ae7c4e024.js" crossorigin="anonymous"></script>
    <style>
        .fixed-bottom-right {
            position: fixed;
            bottom: 0;
            right: 0;
        }
        .fixed-bottom-left {
            position: fixed;
            bottom: 0;
            left: 0;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <div class="bg-azul text-white px-5 py-5">
        <div class="row align-items-center">
            <div class="col-2">
                <img src="{% static 'img/b_blanco.svg' %}" height="200px" alt="Símbolo bUCR">
            </div>
            <div class="col-7">
                <h1 class="title">
                    Facultad de <br> Ciencias Sociales
                </h1>
            </div>
            <div class="col-3 text-end">
                <h1 class="display-1" id="current-time"></h1>
                <p class="lead">
                    <i class="fa-solid fa-circle fa-fade"></i>
                    Actualizaciones cada minuto
                </p>
            </div>
        </div>
    </div>

    <div class="px-5 py-5">
        <!-- ETA table -->
        <table id="eta" class="table display-1">
            <tr>
                <td class="align-middle"><span class="badge rounded-pill text-bg-dark">L1</span></td>
                <td class="align-middle">Educación</td>
                <td class="align-middle display-6">
                    <i class="bi bi-person-fill"></i><i class="bi bi-person-fill"></i><i class="bi bi-person"></i>
                </td>
                <td class="align-middle"><span class="time fw-bold">Ahora</span></td>
            </tr>
            <tr>
                <td class="align-middle"><span class="badge rounded-pill text-bg-secondary">L2</span></td>
                <td class="align-middle">Artes Plásticas</td>
                <td class="align-middle display-6">
                    <i class="bi bi-person-fill"></i><i class="bi bi-person"></i><i class="bi bi-person"></i>
                </td>
                <td class="align-middle"><span class="time fw-bold">6</span> min</td>
            </tr>
            <tr>
                <td class="align-middle"><span class="badge rounded-pill text-bg-dark">L1</span></td>
                <td class="align-middle">Educación</td>
                <td class="align-middle small"></td>
                <td class="align-middle"><span class="time fw-bold">12</span> min</td>
            </tr>
        </table>

        <!-- Footer
        <div class="fixed-bottom-left text-center p-5">
            Hola
        </div> -->
        <div class="fixed-bottom-right text-end p-5">
            <span class="display-3"><span class="fw-bold">bus</span>.ucr.ac.cr</span>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        function showCurrentTime() {
            const options = {
                hour: 'numeric', // Changed from '1-digit' to 'numeric'
                minute: '2-digit',
                timeZone: 'America/Costa_Rica'
            };
            const now = new Date().toLocaleTimeString('en-US', options);

            document.getElementById('current-time').textContent = now;
        }

        // Update the time every minute
        setInterval(showCurrentTime, 10000);

        // Initialize the display
        showCurrentTime();
    </script>
    <script>
        // Aquí un archivo para manejar las actualizaciones de la pantalla con WebSockets
        // https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_client_applications
        // Crear un WebSocket 
        const wsUrl = 'wss://' + window.location.host + '/ws/screen/{{ screen_id }}/';
        const screenSocket = new WebSocket(wsUrl);

        // Registrar la conexión abierta
        screenSocket.onopen = function (event) {
            console.log('screens: Conexión abierta exitosamente en ' + wsUrl);
        };

        // Manejo de eventos de mensajes
        screenSocket.onmessage = function (event) {
            console.log('Mensaje recibido:', event.data);
            const data = JSON.parse(event.data);
            const message = data['message'];
            if (message) {
                document.getElementById('message').innerHTML = message;
            }
        };

        window.addEventListener('beforeunload', function (event) {
            screenSocket.close();
        });
    </script>
</body>

</html>